global
  daemon
  maxconn 256

defaults
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

frontend http-in
  bind {{ virtual_ip }}:9011
  default_backend servers

backend servers
  {% for host in groups['all'] %}
  server k8s-api-{{ loop.index }} {{ host }}:6443 check
  {% endfor %}
